<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured!</h1>
    <p>Please reload the page and try again.</p>

<%- include('includes/end.ejs') %>